main{
    background-color: gray;
    max-height: 700px;
    height: 100%;
}
h2{
    text-align: center;
    padding: 20px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    border-radius: 10%;
}
.foto{
    max-width: 100px;
    width: 100%;
    padding: 10px;
    background-color: white;   
}
#res{
    text-align: center;
    font-size:1.5em;
    margin: 30px;
}
#leao, #macaco, #cachorro, #gato{
   width: 300px;
}
figure{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
